.nav-bar {
    background-color: rgb(48, 138, 85);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo {
    color: #fff;
    background-color: rgb(48, 138, 85);
}

.nav-bar li a {
    color: #333;
}
